{% extends "base.html" %}

{% block title %} Джуманджи {% endblock %}




<div>
{% block content %}
    <section class="mt-5 pt-3">
      <h2 class="h2 font-weight-normal text-center mb-5">Вакансии по рубрикам</h2>
      <div class="row mb-0">

        {% for vacancy in specialty_vacancies %}
        <div class="col-6 col-md-6 col-lg-3">
          <div class="card pt-4 text-center mb-4">
            <img class="mx-auto d-block" src="{{ vacancy.picture.url }}" width="80" height="80" alt="">
            <div class="card-body">
              <p class="card-text mb-2">{{ vacancy.title }}</p>
              <p class="card-text"><a href="{% url 'category' spec_id=vacancy.code %}">{{ vacancy.count_speciality }}</a></p>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </section>

    <section class="my-5 pt-3">
      <h2 class="h2 font-weight-normal text-center mb-5">Нам доверяют лучшие компании</h2>
      <div class="row mb-0">

        {% for vacancy in company_vacancies %}
        <div class="col-6 col-md-6 col-lg-3">
          <div class="card pt-4 text-center mb-4">
            <a href="#" style="max-width: 150px;" class="mx-auto d-block">
              <img class="mx-auto d-block mw-100" src="{{ vacancy.logo.url }}" alt="">{{ vacancy.name }}
            </a>
            <div class="card-body">
              <p class="card-text"><a href="{% url 'company' comp_id=vacancy.id %}">{{ vacancy.count_company }} вакансий</a></p>
            </div>
          </div>
        </div>
        {% endfor %}


      </div>
    </section>
</div>
{% endblock %}